.radio-input-container {
  display: flex;

  :nth-child(n):not(:first-child) {
    margin-left: 10px;
  }
}

.matrix-container {
  overflow: auto;

  input {
    align-self: flex-start;
  }

  .matrix {
    :nth-child(n) {
      padding: 5px;

      .highlighted {
        background: yellow;
      }
    }
  }
}

.highlighted {
  background-color: yellow;
}

.image-preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.file-input-container {
  display: flex;
  align-items: center;

  .remove-file-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}

.fieldset-container {
  border: 1px solid #edeff3;
  padding: 10px;
  margin-bottom: 10px;
}

.input-info {
  background-color: black;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 100%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  line-height: 100%;
}