.list-buttons {
  margin-top: 10px;
}

.list-items {
  display: flex;
  flex-direction: column;

  :nth-child(n) {
    margin-bottom: 20px;
  }
}

.radio-input-container {
  display: flex;

  :nth-child(n):not(:first-child) {
    margin-left: 10px;
  }
}

.image-preview {
  margin-top: 10px;
  max-width: 100%;
  height: auto;
  max-height: 400px;
}

.file-input-container {
  display: flex;
  align-items: center;

  .remove-file-icon {
    margin-left: 5px;
    cursor: pointer;
  }
}
