@import '../common/colors';

.form-modal {
  .subtype-input-container .radio-input-container {
    display: flex;
    flex-direction: row;

    .ui.checkbox {
      align-items: center;
      display: flex;
      justify-content: center;

      box-sizing: border-box;
      margin-left: 10px;
      margin-top: 8px;
      padding: 0;

      &:first-of-type {
        margin-left: 0;
      }

      label {
        height: 36px;
        width: 62px;
        border: 2px solid #1a1a1a;

        justify-content: center;
        margin: 8px 0 0;
        padding: 0;
        padding-left: 0;

        &::before,
        &::after {
          display: none;
        }

        &:hover {
          border-color: $color-button-emphasis;
          color: $color-button-emphasis;
        }
      }
    }

    .ui.checkbox input:checked ~ label {
      background: $color-primary;
      border-color: $color-primary;
      color: white;
      padding-left: 24px;

      &::before {
        border: 0;
        background: url('../../assets/icons/checkmark-icon.svg') no-repeat center;
        display: block;
        height: 32px;
        width: 32px;
      }
    }
  }

  h3 {
    margin-bottom: 0;
  }

  .subtype-input-container .input-container.error .ui.checkbox label {
    border-color: $color-error-border;

    &:hover {
      box-shadow: inset 0px 0px 0px 1px $color-error-border;
    }
  }
}

@media screen and (min-width: 600px) {
  .form-modal {
    .subtype-input-container .radio-input-container {
      .ui.checkbox {
        margin-left: 22px;
      }
    }
  }
}
