.project-card-container {
  width: 100%;
  display: flex;

  .summary {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding-right: 10px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;

    .summary-item-container {
      margin-bottom: 20px;
    }

    .fieldset-summary-container {
      margin-bottom: 0;

      .fieldset-label {
        text-decoration: underline;
      }

      .fieldset-summary-item:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .project-image-container {
    flex: 0.5;
    .project-image {
      max-width: 600px;
      max-height: 600px;
      width: 100%;
      height: auto;
    }
  }
}

.project-card-extend {
  margin-top: 10px;
}

.project-card-graph-container {
  padding: 0 40px 0 40px;
}