.project-card-container {
  width: 100%;
  display: flex;

  .summary {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    padding-right: 10px;
    overflow: hidden;
    overflow-y: auto;
    overflow-x: auto;
    max-height: 600px;

    .summary-item-container {
      margin-bottom: 20px;
    }

    .fieldset-summary-container {
      margin-bottom: 0;

      .fieldset-label {
        text-decoration: underline;
      }

      .fieldset-summary-item:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.project-card-extend {
  margin-top: 10px;
}
.project-card .basic-information {
  height: 200px;
}
.project-card .contract {
  height: 200px;
  background-color: green;
}
.project-card .description {
  height: 300px;
  
}
.project-card .floor-area-information {
  height: 100px;
  background-color: blue;
}
.project-card .strategy-connection {
  min-height: 200px;
}
.project-card .documents {
  height: 200px;
  background-color: pink;
}
.project-card .timetable {
  height: 300px;
  background-color: yellow;
}
.project-card .contacts {
  height: 300px;
  background-color: yellowgreen;
}
.project-card .photo {
  height: 300px;
  text-align: center;
}
.project-card .project-image-container {
  flex: 0.5;
  .project-image {
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
  }
}
.project-card .ui.segment {
  padding: 10px;
}
.project-card .ui.grid {
  margin: 0;
}
.project-card .inner-column {
  margin: 0;
  padding: 0 !important;
}