@import '../../common/colors.scss';

.quicknav-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;


  .quicknav-navigation-section {
    background-color: $light-gray3;
    padding: 32px;
  }

  .quicknav-title {
    border-bottom: 2px solid $black1;
    margin: 0;
    padding: 0 0 4px;
    text-transform: uppercase;
  }

  .quicknav-content {
    border-bottom: 1px solid $gray;
    display: flex;
    flex-direction: column;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: auto;
    
    .phase-accordion > div{
      font-size: 16px;
      cursor: pointer;
      padding: 0;
     }
    .accordion-button {
      padding-left: 0;
      color: black;
      width: 100%;

    }
    .accordion-button > span {
      padding-left: 0;
      text-align: left;
      width: 100%;
      
    }
    .quicknav-item {
      cursor: pointer;
      display: block;
      padding-left: 8px;
      margin: 20px 8px 0;
      font-size: 14px;
      margin-top: 0px;
      color: black;
      text-align: left;
      margin-left: 10px;
      width: 100%;
     

      &.active {
        font-weight: bold;
        color: $color-primary;
        border-left: 2px solid;
      }
    }
  }


  .quicknav-buttons {
    margin-top: 32px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;

    button {
      min-width: calc(50% - 8px);

      &:last-of-type {
        margin-top: 20px;
      }
    }
  }
  .check-pressed {
    outline: 1px solid $dark-blue-color !important; 
  }

.secondary .ui.active.inline.loader:before {
  border-color: $dark-blue-color;
}

  @media screen and (max-width: 545px) {
    border: 1px solid gainsboro;
  }
  .project-onhold {
    margin-top: 10px;
  }

  .quicknav-onhold {
    padding-top: 10px;
  }
}
