@import '../../common/colors.scss';

.filters-list {
  height: auto;
  
  .filter-button {
    height: 49px !important;  
    font-size: 14px !important;
 }
 ul {
   overflow: hidden;
 }
 .filter-dropdown > div > button {
   font-size: 12px;
 }
 .filter-dropdown > div > ul > li {
  font-size: 12px;
}
}
.filter-modal {
  font-size: 12px;

  i {
    margin-left: auto !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
  }
}

.filter-modal-header {
  margin: 10px !important;
}
.filter-modal-content {
  padding: 5px !important; 
  margin: 5px !important;

  div {
    font-size: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.filter-modal-actions {
    button {
      max-height: 32px !important;
      min-height: 32px !important
    }
}
.filter-modal-button {
    margin-left: 10px;
}



