@import '../../common/colors.scss';

.filters-list {
  height: auto;
  .filter-dropdown {
      height: 26px !important;
      width: auto;
  }
  
  .filter-button {
    height: 49px !important;  
    font-size: 14px !important;
 }
 ul {
   overflow: hidden;
 }
}