@import '../common/colors.scss';

.project-list-page {
  flex: 1;
  margin: 0 auto;
  max-width: 1148px;
  width: calc(100% - 32px);
  .nav-header-container {
    .nav-header-actions {
      margin-top: 0;
      .action-item {
        margin-right: 14px;

        svg {
          position: relative;
          width: 24px;
          height: 22px;
        }
      }
      a.action-item {
        color: white !important;
        border: 2px solid $color-primary !important;
        background: $color-primary !important;
      }
      @media screen and (max-width: 800px) {
        justify-content: end;
      }
    }
  }
  .project-list-container {
    min-height: 273px;

    .project-list {
      background-color: white;
      padding: 10px 0px;
      border-top: none;

      .project-list-header,
      .project-list-item {
        font-family: 'Helsinki Grotesk Regular';
        text-align: center;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        column-gap: 10px;
        margin-top: 12px;

        > * {
          overflow: auto;
        }

        @media screen and (max-width: 800px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .list-amount {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
      }

      .list-actions-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 40px;

        .button {
          width: 300px;
          height: 56px;
        }
      }
      .project-list-item-container {
        color: $black;
        .project-list-item-graph {
          .chart {
            height: 132px;
          }
        }
      }
      .project-list-item {
        height: 64px;
        padding: 20px 28px 0;
        border: 2px solid #dedfe1;
        font-size: 16px;

        &:hover,
        &:focus,
        &:active {
          border-color: $color-primary;
        }

        .project-status {
          display: inline-block;
          min-width: 12px;
          min-height: 12px;
          border-radius: 100%;
          margin-right: 5px;
        }

        .project-name {
          color: black;
        }
        @media screen and (max-width: 800px) {
          height: 200px;
        }
      }

      .project-list-header {
        font-family: 'Helsinki Grotesk Medium';
        background-color: $light-gray4;
        align-items: center;
        min-height: 56px;
        position: relative;

        .project-timeline-toggle {
          cursor: pointer;
          margin-right: 56px;

          .ui.toggle.checkbox input:checked ~ label:after {
            left: 1.977rem;
          }
          .ui.toggle.checkbox input:checked ~ label:before {
            background-color: $black !important;
          }

          .toggle {
            padding-left: 6px;
            position: absolute;
            label:before {
              width: 47px;
              height: 20px;
            }
            label:after {
              width: 20px;
              height: 20px;
            }

            @media screen and (max-width: 1200px) {
              padding-left: 0;
            }
          }
        }

        /*
        Design did not have a clear style to indicate direction of filter. Currently gray.
        */

        .header-item {
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          user-select: none;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;

          .angle-icon {
            position: absolute;
            margin-left: 6px;
            font-size: 12px;
            color: $gray2;

            @media screen and (max-width: 800px) {
              position: initial;
            }
          }

          .angle-up-icon {
            top: 16px;

            &.dir-up {
              color: $black;
            }
          }

          .angle-down-icon {
            bottom: 14px;

            &.dir-down {
              color: $black;
            }
          }
        }

        @media screen and (max-width: 800px) {
          height: 200px;
        }
      }

      .project-list-button {
        position: relative;
        white-space: nowrap;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 8px;
        max-height: 30px;

        svg {
          position: absolute;
          right: 0;
          height: 20px;
          width: 20px;

          @media screen and (max-width: 800px) {
            position: initial;
          }
        }
      }

      .project-list-item-name,
      .project-list-item-phase {
        white-space: nowrap;
      }

      .project-list-sublist {
        padding-top: 68px;
        padding-bottom: 10px;
        .project-sublist-title {
          cursor: pointer;
          font-size: 16px;
          padding-bottom: 20px;
        }
      }
    }

    .empty-list-info {
      font-family: 'Helsinki Grotesk Regular';
      display: flex;
      justify-content: center;
      margin-top: 100px;
      font-size: 24px;
    }

    @media screen and (max-width: 800px) {
      margin-top: 48px;
    }
  }

  .ui.tabular.menu {
    font-family: 'Helsinki Grotesk Medium';
    border: none;
    height: 50px;
    margin-bottom: 30px;
    margin-top: -68px;
    font-size: 16px;
    .item {
      border-bottom: 2px solid $border-gray;
      margin-right: 2px;
    }
    .active {
      border: none;
      color: $color-primary !important;
      border-bottom: 2px solid $color-primary !important;
      margin-bottom: 0 !important;
      font-weight: normal !important;
    }
    @media screen and (max-width: 800px) {
      margin-top: -60px;
    }
    @media screen and (max-width: 512px) {
      font-size: 12px;
    }
  }
}
