@import '../common/colors.scss';

.project-list-page {
  flex: 1;
  margin: 0 auto;
  max-width: 1148px;
  width: calc(100% - 32px);

  .header-buttons {
    text-align: right;
   button {
      margin-left: 4px;

      svg {
        padding-right: 2px;
      }
    }
  }
  .nav-header-container {
    .nav-header-actions {
      margin-top: 0;
      .action-item {
        margin-right: 14px;

        svg {
          position: relative;
          width: 24px;
          height: 22px;
        }

        @media screen and (max-width: 599px) {
          display: none;
        }
      }
      a.action-item {
        color: white !important;
        border: 2px solid $color-primary !important;
        background: $color-primary !important;
        margin-right: 0;
      }
      @media screen and (max-width: 800px) {
        justify-content: end;
      }
    }
    @media screen and (max-width: 599px) {
      min-height: 0;
    }
  }
  .project-list-container {
    min-height: 273px;

    .project-list {
      background-color: #ffffff;
      padding: 10px 0px;
      border-top: none;

      .project-list-header,
      .project-list-item {
        font-family: 'Helsinki Grotesk Regular';
        text-align: center;
        display: grid;
        grid-template-columns: repeat(15, 1fr);
        column-gap: 10px;
        margin-top: 12px;

        > * {
          overflow: auto;
        }

        @media screen and (max-width: 800px) {
          grid-template-columns: repeat(1, 1fr);
        }
      }
      .list-amount {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 0;
      }

      .list-actions-container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        padding-top: 40px;

        .button {
          width: 300px;
          height: 56px;
        }
      }
      .project-list-item-container {
        color: $black;
        .project-list-item-graph {
          .chart {
            height: 132px;
          }
        }
        .project-card-mb {
          display: none;
          font-size: 16px;
          color: $color-primary;
          text-align: center;
          justify-content: center;
          border: 2px solid $color-primary;
          margin-top: 18px;
          margin-bottom: 32px;
          padding-top: 18px;
          padding-bottom: 18px;

          @media screen and (max-width: 599px) {
            display: flex;
          }
        }
      }
      .project-list-item {
        height: 64px;
        padding: 20px 28px 0;
        border: 2px solid #dedfe1;
        font-size: 16px;
        position: relative;

        &:hover,
        &:focus,
        &:active {
          border-color: $color-primary;
        }

        .project-status {
          display: inline-block;
          min-width: 12px;
          min-height: 12px;
          border-radius: 100%;
          margin-right: 5px;
        }

        .project-name {
          color: black;
        }
        @media screen and (max-width: 800px) {
          height: 200px;
        }
        @media screen and (max-width: 599px) {
          padding-bottom: 20px;
          text-align: left;
        }
        span {
          grid-column: span 2;

          &:nth-child(5) {
            grid-column: span 1;
          }
          &:nth-child(3) {
            grid-column: span 2;
          }
        }
      }

      .project-list-sort-text {
        display: none;

        @media screen and (max-width: 599px) {
          display: block;
          font-size: 16px;
          color: $black;
        }
      }

      .project-list-header {
        font-family: 'Helsinki Grotesk Medium';
        background-color: $light-gray4;
        align-items: center;
        min-height: 56px;
        position: relative;

        .project-timeline-toggle {
          cursor: pointer;
          width: 68px;

          .ui.toggle.checkbox input:checked ~ label:after {
            left: 1.977rem;
          }
          .ui.toggle.checkbox input:checked ~ label:before {
            background-color: $black !important;
          }

          .toggle {
            padding-left: 6px;
            position: absolute;
            label:before {
              width: 47px;
              height: 20px;
            }
            label:after {
              width: 20px;
              height: 20px;
            }

            @media screen and (max-width: 1200px) {
              padding-left: 0;
            }
          }
          @media screen and (max-width: 601px) {
            display: none;
          }
        }

        /*
        Design did not have a clear style to indicate direction of filter. Currently gray.
        */

        .header-item {
          text-align: center;
          font-size: 16px;
          font-weight: bold;
          user-select: none;
          cursor: pointer;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          grid-column: span 2;

          .angle-icon {
            position: absolute;
            margin-left: 6px;
            font-size: 12px;
            color: $gray2;

            @media screen and (max-width: 800px) {
              position: initial;
            }
          }

          .angle-up-icon {
            top: 16px;

            &.dir-up {
              color: $black;
            }
          }

          .angle-down-icon {
            bottom: 14px;

            &.dir-down {
              color: $black;
            }
          }
          &:nth-child(5) {
            grid-column: span 1;
          }
          &:nth-child(9) {
            grid-column: span 1;
          }
        }
        @media screen and (max-width: 599px) {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          background: none;
          color: $color-primary;
          margin-bottom: 32px;

          .header-item {
            flex-grow: 1;
            margin-right: 12px;
            margin-bottom: 8px;
            font-size: 14px;
            padding: 4px 14px;
            border: 2px solid $color-primary;

            .angle-icon {
              display: none;
            }

            &:last-of-type {
              flex-grow: 0;
              font-size: 14px;
              border: none;
              color: $black;
            }

            @media screen and (max-width: 365px) {
              margin-right: 0;
            }
          }
        }
      }

      .project-list-button {
        position: absolute;
        white-space: nowrap;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        border-radius: 5px;
        max-height: 30px;
        grid-column: span 1;
        right: 36px;
        top: 22px;

        svg {
          height: 20px;
          width: 20px;

          @media screen and (max-width: 800px) {
            position: initial;
          }
        }
        @media screen and (max-width: 599px) {
          display: none;
        }
      }

      .project-list-item-name,
      .project-list-item-phase {
        white-space: nowrap;
      }
      .field-ellipsis {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .project-list-sublist {
        padding-top: 68px;
        padding-bottom: 10px;
        .project-sublist-title {
          cursor: pointer;
          font-size: 16px;
          padding-bottom: 20px;
        }
      }

      .project-list-mb-actions{
        position: relative;
        display: flex;
        margin-bottom: 4px;
        min-height: 32px;
        align-items: center;

        .project-timeline-toggle-mb {
          display: flex;
          position: absolute;
          margin-left: 2px;

          .ui.toggle.checkbox input:checked ~ label:before {
            background-color: $black !important;
          }

          .toggle {
            z-index: 0;
            margin-right: 8px;

            label {
              font-size: 16px;
            }
          }
        }
        @media screen and (min-width: 600px) {
          display: none;
        }
      }
    }

    .empty-list-info {
      font-family: 'Helsinki Grotesk Regular';
      display: flex;
      justify-content: center;
      margin-top: 100px;
      font-size: 24px;
    }

    @media screen and (max-width: 800px) {
      margin-top: 48px;
    }
  }
  .ui.tabular.menu {
    font-family: 'Helsinki Grotesk Medium';
    border: none;
    height: 50px;
    margin-bottom: 30px;
    margin-top: -68px;
    font-size: 16px;
    .item {
      border-radius: 0;
      border-bottom: 2px solid $border-gray;
      margin-right: 2px;
    }
    .active {
      border: none;
      color: $color-primary !important;
      border-bottom: 2px solid $color-primary !important;
      margin-bottom: 0 !important;
      font-weight: normal !important;
    }
    @media screen and (max-width: 800px) {
      margin-top: -46px;
    }
    @media screen and (max-width: 599px) {
      font-size: 16px;
    }
  }
}
