.documents-page-container {
  padding-bottom: 20px;
  .document-group {
    .title {
      padding-left: 5px;
    }

    .ui.grid {
      margin-left: 0;
      margin-right: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .document-row {
      .document-title {
        padding: 0px;
        padding-left: 5px;
        margin: 0;
        line-height: 49px;
      }
      button > span {
        padding-left: 0;
      }
      background-color: $light-gray3;
    }
  }

  .document-accordion {
    margin: auto;
    margin-top: 10px;
  }

  .document-accordion > div {
    padding: 10px;
  }
  .phase-end-tag {
    margin-left: 20px;
    font-size: 14px;
    font-weight: normal;
    color: $dark-blue-color
  }
}
