@import '../../common/colors.scss';

.edit-project-timetable-form-modal {
  .collapse .collapse-header {
    height: 50px;
  }
  .modal-field {
    margin-top: 0;
    max-width: 250px;
  }
  .input-header {
    width: 250px;
  }
  .section-deadline-info {
    margin-top: 10px;
    padding: 10px 10px 10px 0;
    background-color: $yellow; 
    width: 100%;
  }
  .deadline-info-icon {
    margin-right: 10px;
    margin-left: 10px;
  }
  .error {
    padding: 10px 24px;
    color: $color-error-text;
  }
}
