@import '../../common/colors.scss';

.edit-project-timetable-form-modal {
  .collapse .collapse-header {
    height: 50px;
  }
  .modal-field {
    margin-top: 0;
    max-width: 250px;
  }
  .input-header {
    width: 250px;
  }
}
