@import '../colors.scss';

.collapse {
  width: 100%;
  background-color: white;
  border-bottom: 1px solid $light-gray;
  transition: all 0.2s ease-out;

  &.open {
    background-color: $light-gray2;
    border-bottom: none;
    margin-top: 24px;
  }

  .collapse-header {
    cursor: pointer;
    align-items: center;
    height: 92px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    padding: 0 24px;
  }

  .collapse-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 24px;
    transition: max-height 0.2s ease-out;

    .bottom-padding-included-in-animation {
      height: 24px;
    }
  }
}
