@import '../common/colors.scss';

.rich-text-editor-wrapper {
  .rich-text-editor {
    background-color: white;

    .ql-toolbar {
      border: 1px solid $gray2;
      display: none;
      position: relative;
      background-color: $white;
      z-index: 1;

      .quill-toolbar-comment-button {
        .comment-icon {
          width: 16px;
          height: 16px;

          path {
            fill: $black1 !important;
          }
        }
        &:focus {
          outline: none;
        }
        &:hover .comment-icon {
          path {
            // same as others in quill. Keep this way or change all in quill
            fill: #06c !important;
          }
        }
      }
    }
    .ql-editor.ql-blank::before {
      color: $gray;
      font-style: normal;
      font-size: 16px;
    }

    .ql-container {
      border: 1px solid $gray2;
      border-radius: 2px;
      border-top-width: 1px;

      .ql-editor {
        font-size: 16px;
        padding: 16px;
        min-height: 56px;
      }
    }

    &.toolbar-visible {
      .ql-toolbar {
        display: block;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
      }

      .ql-container {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }

    &:hover {
      box-shadow: inset 0px 0px 0px 2px $black1;
      border-radius: 2px;

      .quill {
        .ql-toolbar {
          border: 1px solid $black1;
        }

        .ql-container {
          border: 1px solid $black1;
        }
      }
    }

    &.large .quill .ql-editor {
      min-height: 128px;
    }

    .add-comment-button,
    .show-comments-button {
      width: auto;

      &:focus {
        outline: none;
      }
    }
  }

  .comment-list {
    padding: 16px;
    background: $light-gray3;
    border-radius: 0 0 2px 2px;

    .comment-container:first-child {
      margin-top: 0;
    }
  }
}
.rich-text-disabled {
  pointer-events: none;
  opacity: .35;
}
.quill-warning {
  color: red;
}
.quill-counter {
  position: relative;
  top: -20px;
  text-align: right;
  padding-right: 4px;
}
