@import '../../components/common/colors.scss';

.search-bar {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 10px;

  .search-bar-bar {
    width: 540px;
    
    input[type='text'] {
      text-indent: 62px;
      @media screen and (max-width: 599px) {
        box-sizing: border-box;
        border: none !important;
        border-bottom: 1px solid $black !important;
        font-size: 12px;
        width: 226px;
        height: 32px;
      }
      &:focus {
          box-shadow: none !important;
      }
      &:hover {
        box-shadow: none !important;
      }
    }

    .button {
      width: 160px;
      height: 56px;
      border-radius: 0 !important;
      padding-left: 66px;

      @media screen and (max-width: 599px) {
        display: none !important;
      }
    }

    @media screen and (max-width: 599px) {
      z-index: 1;
      padding-right: 0 !important;
      font-size: 12px;
      width: 100%;
      margin-top: -4px;
    }
    
  }
  
 

  @media screen and (max-width: 599px) {
    width: 100%;
    .search-bar-bar {
      .ui.input {
        height: auto;
      }
    }
  }
}
.search-action-icon {
  height: 50px;
}

