/* the heights are overridden in shoutbox.scss, because it requires rather interconnected logic
 * and thus should be in the same file. */
.comment-list-container {
  display: flex;
  flex-direction: column;
  width: 100%;

  .comment-list-header {
    align-items: flex-end;
    border-bottom: 2px solid black;
    display: flex;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    margin: 0;
    padding-bottom: 16px;
    text-transform: uppercase;
  }


  .comment-submit-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
    margin-top: 16px;

    .ui.button {
      height: 56px;
    }
  }
}

.comment-list {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;

  .comments-message {
    text-align: center;
    margin-top: 16px;
  }

  .comment-container {
    background-color: white;
    border-bottom: 1px solid #dededf;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    overflow-wrap: break-word;
    padding: 12px 22px;

    &:first-child {
      margin-top: 32px;
    }

    .comment-header-container {
      display: flex;
      justify-content: space-between;

      .comment-header-text-container {
        font-size: 12px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .comment-creator {
          margin-right: 6px;

          &.generated {
            color: coral;
          }
        }
      }

      .comment-edit-container {
        margin-right: -12px;
      }

      .comment-edit {
        cursor: pointer;
      }
    }

    .comment-content {
      font-size: 16px;
      margin: 16px 0;
    }

    .comment-footer {
      align-items: center;
      display: flex;
      justify-content: flex-end;

      .comment-footer-actions {
        white-space: nowrap;

        > button:not(:first-of-type) {
          margin-left: 8px;
        }
      }
    }
  }
}
