.comment-list-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-height: 300px;
  margin-top: 40px;
  background-color: white;

  .comments {
    overflow: hidden;
    overflow-y: auto;
    flex: 0.5;
    min-height: 270px;
    max-height: 270px;
    background-color: whitesmoke;

    .comments-message {
      text-align: center;
      margin-top: 50%;
    }

    .comment-container {
      display: flex;
      flex-direction: column;
      padding: 10px 0 0 10px;
      border-bottom: 1px solid #dededf;
      overflow-wrap: break-word;
      background-color: white;

      .comment-header-container {
        display: flex;
        justify-content: space-between;

        .comment-creator {
          font-size: 13px;
          font-weight: bold;
          max-width: 100%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .comment-edit {
          cursor: pointer;
        }
      }

      .comment-content {
        margin-right: 10px;
      }

      .comment-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .comment-footer-actions {
          white-space: nowrap;
        }

        .comment-footer-time-container {
          font-size: 13px;
          margin-top: 10px;
          margin: 10px 6px 0 0;
          align-self: flex-end;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
        }
      }
    }
  }

  .comment-submit-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }

  .comment-send-button {
    width: 100%;
  }
}