$dark-blue-color: #0000BF;
$dark-blue-color-light10: #1A1AD9;
$dark-blue-color-light20: #3333F2;
$dark-blue-color-light40: #6666FF;
$dark-blue-color-light60: #9999FF;
$dark-blue-color-light80: #CCCCFF;

$black1: #1A1A1A;
$border-black: #1A1A1A;
$border-gray: #949494;
$gray: #B2B2B2;
$light-gray: #D9D9D9;
$light-gray2: #F1F1F1;
$light-gray3: #F5F5F5;

$color-primary: $dark-blue-color;
$color-button-emphasis: $dark-blue-color-light20;
$color-input-emphasis: $border-black;
$color-primary-emphasis: $border-black;
