$dark-blue-color: #0000bf;
$dark-blue-color-light10: #1a1ad9;
$dark-blue-color-light20: #3333f2;
$dark-blue-color-light40: #6666ff;
$dark-blue-color-light60: #9999ff;
$dark-blue-color-light80: #ccccff;

$black1: #1a1a1a;
$border-black: #1a1a1a;
$border-gray: #949494;

$gray: #b2b2b2;
$light-gray: #d9d9d9;
$light-gray2: #f1f1f1;
$light-gray3: #f5f5f5;

$red: #C4123E;
$red2: #dc3545;

$yellow: #FFF4B4;
$yellow2: #FFDA07;


$color-primary: $dark-blue-color;
$color-button-emphasis: $dark-blue-color-light20;
$color-input-emphasis: $border-black;
$color-primary-emphasis: $border-black;
$color-error-text: $red;
$color-error-border: $red2;
$color-warning: $yellow;
$color-warning2: $yellow2;
