$dark-blue-color: #0000BF;
$dark-blue-color-light10: #1A1AD9;
$dark-blue-color-light20: #3333F2;
$dark-blue-color-light40: #6666FF;
$dark-blue-color-light60: #9999FF;
$dark-blue-color-light80: #CCCCFF;

$color-primary: $dark-blue-color;
$color-primary-emphasis: $dark-blue-color-light20;
