$dark-blue-color: #0000BF;

.navbar-container {
  .navbar-menu {
    background-color: #cfe4f5;
  .container {
    width: auto;
  }
  }
  .navbar-image {
    filter: invert(1);
  }
  .navbar-logo {
    font-family: Helvetica;
    font-size: 20px;
    color: #1A1A1A;
  }
  .navbar-menu-item {
    font-family: Helvetica;
    font-size: 16px;
    span {
      color: #000000;
    }
    svg {
      padding-right: 5px;
      position: relative;
      color: #000000;
      width: 30px;
      height: 17px;
      top: 0.15em;
    }
  }
  .navbar-menu-item-active {
    border-bottom: 1px solid #000000;
  }
  .navbar-responsive-button {
    border: none;
    box-shadow: none !important;
    svg {
      width: 32px;
      height: 32px;
    }
  }
  .navbar-responsive-close-icon {
    border: none;
    box-shadow: none !important;
    svg {
      width: 32px;
      height: 32px;
    }
  }
}


.nav-header-container {
  display: flex;
  align-items: center;
  min-height: 200px;
  padding: 45px 0px 0px;
  margin: 0% 10%;

  .nav-header-inner-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 0 10px 10px;

    .nav-header-route {
      color: black;

      .nav-header-route-items {
        font-weight: 100;

        span a {
          color: black;
        }

        span::after {
          color: #0072c6;
          content: ">>";
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }

    .nav-header-content {
      padding-top: 50px;

      .nav-header-title {
        color: black;
        font-size: 25px;
        font-weight: bold;
        margin-right: 10px;

        &.large {
          font-size: 45px;

          @media screen and (max-width: 500px) {
            font-size: 35px;
          }
        }
      }

      .nav-header-info {
        color: #5d5d5d;
        margin-top: 10px;
        height: 0;
      }
    }

    .nav-header-actions {
      display: flex;
      flex-wrap: wrap;
      margin-top: 50px;

      .action-item {
        border-radius: 0;
        color: $dark-blue-color;
        border: 1px solid $dark-blue-color;
        outline: none;
        cursor: pointer;
        padding: 10px 20px 10px 20px;
        margin: 10px 10px 0 0;
        white-space: nowrap;

        :nth-child(n) {
          margin-right: 10px;
        }
      }
    }
  }
}

.form-button {
  background-color: black;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 16px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.footer-container {
  background: #F1F1F1;
  .footer-image {
    width: 152px;
    height: 70px;
    filter: invert(1);
  }
  .footer-logo-column {
    text-align: left;
  }
  .footer-link-group {
    h4 {
      font-family: Helvetica;
      font-size: 20px;
      color: #000000;
      text-align: left;
    }
    a {
      font-family: Helvetica;
      font-size: 16px;
      color: #000000 !important;
      text-align: left;
      line-height: 25.89px;
    }
  }
  .footer-copyright {
    font-family: Helvetica;
    font-size: 14px;
    color: #666666;
    text-align: left;
    line-height: 18px;
    a {
      font-family: Helvetica;
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      text-decoration: underline black;
      line-height: 24px;
    }
  }
  .footer-feedback {
    a {
    font-family: Helvetica;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    text-decoration: underline black;
    line-height: 24px;
    text-align: right;
    }
  }

}

.prompt {
  display: none;
}


.ui {
  .modal {
    h3 {
      font-size: 14px;
    }
    .header {
      border-bottom: 0;
      font-size: 24px;
      Line-height: 28.8px;
      margin-left: 95px;
      margin-top: 70px;
    }
    .icon {
      position: relative;
      float: right;
      margin-right: 45px;
      margin-top: 45px;
      color: black;
    }
    .content {
      margin-left: 95px;
      margin-right: 95px;
      width: auto;
    }
    .actions {
      background-color: transparent;
      border-top: 0;
      margin-bottom: 79px;
      margin-right: 55px;
    }
  }
  .ui.input {
    height: 56px;
    input {
      border-radius: 0;
    }
  }
  .ui.search {
    border-radius: 0;
    height: 56px;
  }
  .button {
    border-radius: 0;
    color: $dark-blue-color;
    background: none;
    border: 1px solid $dark-blue-color;
  }
  .ui.blue {
    background-color: $dark-blue-color;
  }
}