@import 'colors';
@import 'Fonts';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Helsinki Grotesk Regular';
}
h1 {
  color: $black1;
  font-family: 'Helsinki Grotesk Bold';
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 36px;
  margin: 0;
}

h2 {
  color: $black1;
  font-family: "Helsinki Grotesk Bold";
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 24px;
}

h3 {
  color: $black1;
  font-family: "Helsinki Grotesk Bold";
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0;
}

h4 {
  font-family: "Helsinki Grotesk Bold";
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  margin: 44px 0 8px;
}

.ui.button {
  font-family: "Helsinki Grotesk Medium";
  border-radius: 0;
  font-size: 16px;
  font-weight: 500;
  height: 36px;
  letter-spacing: 0;
  line-height: 16px;
  margin: 0;
  padding: 0 16px;
  text-align: center;
  transition: opacity 0.2s ease, border 0.2s ease, background-color 0.2s ease,
    color 0.2s ease, box-shadow 0.2s ease, background 0.2s ease,
    -webkit-box-shadow 0.2s ease;

  &.large {
    align-items: center;
    display: flex;
    height: 56px;
  }

  &.secondary {
    background: none;
    border: 2px solid $color-primary;
    color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      background-color: white;
      border-color: $color-button-emphasis;
      color: $color-button-emphasis;
    }
  }

  &.primary {
    color: white;
    background-color: $color-primary;

    &:hover,
    &:focus,
    &:active {
      color: white;
      background-color: $color-button-emphasis;
    }
  }
}

.ui.segment {
  background-color: $light-gray3;
  border: 0;
  border-radius: 0;
  padding: 16px 0;

  @media screen and (min-width: 600px) {
    padding: 32px 22px;
  }
}

.ui.segment.footer-container {
  background: $light-gray2;
  font-family: 'Helsinki Grotesk Regular';

  .footer-image {
    width: 152px;
    height: 70px;
    filter: invert(1);
  }
  .footer-logo-column {
    text-align: left;
  }
  .footer-link-group {
    h4 {
      font-family: 'Helsinki Grotesk Bold';
      font-size: 20px;
      color: #000000;
      text-align: left;
    }
    a {
      font-family: 'Helsinki Grotesk Regular';
      font-size: 16px;
      color: #000000 !important;
      text-align: left;
      line-height: 25.89px;
    }
  }
  .footer-copyright {
    font-family: 'Helsinki Grotesk Regular';
    font-size: 14px;
    color: #666666;
    text-align: left;
    line-height: 18px;
    a {
      font-family: 'Helsinki Grotesk Regular';
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      text-decoration: underline black;
      line-height: 24px;
    }
  }
  .footer-feedback {
    a {
      font-family: 'Helsinki Grotesk Regular';
      font-size: 14px;
      color: #000000;
      letter-spacing: 0;
      text-decoration: underline black;
      line-height: 24px;
      text-align: right;
    }
  }
}

.prompt {
  display: none;
}

/* using # root to eliminate the need of using !important*/
#root ~ .ui {
  .modals {
    margin-top: 0;
  }

  .modal {
    &.small,
    &.tiny {
      left: 50%;
      top: 24px;
      transform: translateX(-50%);
      max-width: calc(100vw - 48px);
      width: 740px;
      margin-top: 0;

      > .header {
        border-bottom: 0;
        font-size: 24px;
        line-height: 24px;
        margin: 16px 0;
        padding: 0;
      }

      @media screen and (min-width: 600px) {
        top: 32px;
      }
    }
    .close.icon {
      position: relative;
      float: right;
      margin-right: 0;
      margin-top: 16px;
      color: black;
    }
    .content {
      margin-left: 0;
      margin-right: 0;
      padding: 0;
      width: auto;
    }
    .actions {
      background-color: transparent;
      border-top: 0;
      margin: 16px 0 8px;
      padding: 0;

      .button:not(:first-child) {
        margin-left: 16px;
      }
    }
  }

  .warning-box {
    background-color: $color-warning;
    border-radius: 2px;
    border: 1px solid $color-warning2;
    color: $black1;
    font-size: 16px;
    margin-top: 16px;
    padding: 16px 32px;
  }

  @media screen and (min-width: 600px) {
    .modal {
      &.small {
        top: 96px;

        > .header {
          margin: 76px 96px 32px;
        }
      }

      .close.icon {
        margin-right: 45px;
        margin-top: 45px;
      }

      .content {
        margin-left: 96px;
        margin-right: 96px;
      }

      .actions {
        margin: 66px 56px 80px;

        .button:not(:first-child) {
          margin-left: 20px;
        }
      }

      &.tiny {
        top: 160px;

        > .header {
          margin: 64px 96px 32px;
        }

        .actions {
          margin: 32px 48px 48px;
        }
      }
    }
  }
}
.popup-logger {
  .show-value {
    padding-bottom: 20px;
  }
  .field-value {
    border: 1px solid #a3a3a3;
    padding: 2px;
  }
}
.changelog-item {
  color: #a3a3a3 !important;
}

.header {
  margin-bottom: 10px;
}
.navbar-container {
  .ui.navbar-menu {
    background-color: #cfe4f5;

    .container {
      width: auto;
    }
  }
  .navbar-image {
    filter: invert(1);
  }
  .navbar-logo {
    font-family: 'Helsinki Grotesk Bold';
    font-size: 20px;
    color: #1a1a1a;
  }
  .navbar-menu-item {
    font-family: 'Helsinki Grotesk Medium';
    font-size: 16px;
    span {
      color: #000000;
    }
    svg {
      padding-right: 5px;
      position: relative;
      color: #000000;
      width: 30px;
      height: 17px;
      top: 0.15em;
    }
  }
  .navbar-menu-item-active {
    border-bottom: 1px solid #000000;
  }
  .navbar-responsive-button {
    border: none;
    box-shadow: none !important;
    svg {
      width: 32px;
      height: 32px;
    }
  }
  .navbar-responsive-close-icon {
    border: none;
    box-shadow: none !important;
    svg {
      width: 32px;
      height: 32px;
    }
  }
}

.nav-header-container {
  display: flex;
  align-items: center;
  font-family: 'Helsinki Grotesk Regular';

  .nav-header-inner-container {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .nav-header-route {
      color: black;

      .nav-header-route-items {
        font-weight: 100;

        span a {
          color: black;
        }

        span:not(:last-of-type)::after {
          content: '>>';
          margin-left: 8px;
          margin-right: 8px;
        }
      }
      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .nav-header-content {
      margin-top: 32px;

      .nav-header-titles {
        align-items: flex-end;
        display: flex;

        .nav-header-title {
          line-height: 36px;
        }

        .nav-header-subtitle {
          margin: 0 0 0 32px;
        }

        @media screen and (max-width: 599px) {
          flex-direction: column;
          align-items: flex-start;

          .nav-header-subtitle {
            margin: 0;
          }
        }
      }

      .nav-header-info {
        color: $gray3;
        font-size: 14px;
        line-height: 24px;
        margin-top: 32px;
        width: 50%;

        @media screen and (max-width: 599px) {
          width: 100%;
          }

        .ui.dropdown {
          align-items: center;
          display: inline-flex;

          .menu {
            max-width: 100%;
          }
        }

        .text {
          max-width: calc(100% - 32px);
        }
      }

    }

    .nav-header-actions {
      display: flex;
      flex-wrap: wrap;
      margin-top: 12px;
      margin-bottom: 12px;
      justify-content: flex-end;
      width: 100%;

      .action-item {
        margin: 10px 10px 0 0;
        white-space: nowrap;

        > svg {
          margin-right: 16px;
          width: 24px;
          height: 24px;
        }

        @media screen and (max-width: 599px) {
          font-size: 12px;
          height: 32px;
          margin-left: 8px;
        }
      }
    }

  }
}

