@import '../../common/colors.scss';

.matrix-container {
  overflow: auto;
  margin: -16px 0 24px;
  padding: 1px; /* needed for box-shadow to show on hover */

  input {
    align-self: stretch;
  }

  .matrix {
    column-gap: 20px;
    row-gap: 10px;

    .row-header {
      font-size: 18px;
      font-weight: bold;
      letter-spacing: 0;
      line-height: 22px;
      margin-top: 16px;
    }

    :nth-child(n) {
      .highlighted {
        background: yellow;
      }
    }
    .input-header {
      align-items: center;
      display: flex;
      font-weight: bold;
      justify-content: space-between;
    
      .input-header-icons {
        align-items: center;
        display: flex;
        margin-right: 8px;
    
        @media screen and (min-width: 600px) {
          margin-right: 0;
        }
      }
      :nth-child(2) {
        margin-left: 8px;
      }
    .input-info {
      background: url('../../../assets/icons/field-info-icon.svg') no-repeat center;
      width: 16px;
      height: 16px;
      display: inline-flex;
    }
  }
}
  .autofill-readonly-input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 4px;

    .autofill-readonly-input-value {
      border: 1px solid $gray2;
      border-radius: 2px;
      color: black;
      font-size: 16px;
      line-height: 56px;
      padding: 0 16px;
      height: 56px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 599px) {
  .matrix-container {
    .matrix {
      column-gap: 20px;
      row-gap: 10px;

      .input input {
        padding: 8px !important;
      }
    }

    .autofill-readonly-input {
      .autofill-readonly-input-value {
        padding: 0 8px;
      }
    }
  }
}
