.form-container {
  flex: 1;
  width: 90%;
  background-color: white;
  padding: 20px 25px 20px 25px;

  .form-title {
    font-size: 30px;
    font-weight: bold;
  }

  &>div:not(:first-child) {
    margin-bottom: 25px;
  }

  .form-button-container {
    :nth-child(n) {
      margin-right: 5px;
    }
  }

  @media screen and (max-width: 545px) {
    margin-top: 20px;
  }
}

.project-input-container {
  display: flex;
  align-items: flex-start;
  margin: 40px auto 40px auto;

  @media screen and (max-width: 695px) {
    margin: 0 0 40px 0;
  }

  @media screen and (max-width: 545px) {
    flex-direction: column-reverse;
    align-items: center;
  }
}

.input-container {
  margin-bottom: 30px;

  .input-title {
    &.highlight {
      background-color: yellow;
    }
  }
}

.project-input-right {
  display: flex;
  flex-direction: column;
  flex: 0.4;
  top: 40px;
  position: sticky;
  margin-left: 40px;
  max-width: 360px;

  @media screen and (max-width: 545px) {
    margin-left: 0;
  }
}

.comment-list-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-height: 300px;
  margin-top: 40px;
  background-color: white;

  .comments {
    overflow: hidden;
    overflow-y: auto;
    flex: 0.5;
    min-height: 270px;
    max-height: 270px;
    background-color: ghostwhite;

    .comment-container {
      display: flex;
      flex-direction: column;
      padding: 10px 0 0 10px;
      border-bottom: 1px solid #dededf;
      overflow-wrap: break-word;
      background-color: white;

      .comment-header {
        font-size: 13px;
        font-weight: bold;
      }

      .comment-footer {
        font-size: 13px;
        margin-top: 10px;
        margin: 10px 6px 0 0;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  .comment-submit-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }

  .comment-send-button {
    width: 100%;
  }
}

.quicknav-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-height: 45vh;
  overflow: hidden;
  overflow-y: auto;

  .quicknav-title {
    text-align: center;
    margin: 10px 10px 0 10px;
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
  }

  .quicknav-content {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-height: 45vh;
    overflow: hidden;
    overflow-y: auto;
    
    .quicknav-item {
      cursor: pointer;
      margin: 0 10px 10px 10px;
    
      &.active {
        font-weight: bold;
        color: green;
        border-left: 3px solid;
        padding-left: 10px;
      }
    }
  }

  .quicknav-buttons {
    padding: 5px 5px 10px 5px;
    text-align: center;
  }

  @media screen and (max-width: 545px) {
    border: 1px solid gainsboro;
  }
}

.input-header {
  display: flex;
  margin-bottom: 20px;
  font-weight: bold;
}

.input-info {
  background-color: black;
  color: white;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 5px;
  border-radius: 100%;
  padding: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  line-height: 100%;
}

.comment-list-container {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  min-height: 300px;
  margin-top: 40px;
  background-color: white;

  .comments {
    overflow: hidden;
    overflow-y: auto;
    flex: 0.5;
    min-height: 270px;
    max-height: 270px;
    background-color: ghostwhite;

    .comment-container {
      display: flex;
      flex-direction: column;
      padding: 10px 0 0 10px;
      border-bottom: 1px solid #dededf;
      overflow-wrap: break-word;
      background-color: white;

      .comment-header {
        font-size: 13px;
        font-weight: bold;
      }

      .comment-footer {
        font-size: 13px;
        margin-top: 10px;
        margin: 10px 6px 0 0;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
      }
    }
  }

  .comment-submit-container {
    display: flex;
    flex-direction: column;
    flex: 0.5;
  }

  .comment-send-button {
    width: 100%;
  }
}