@import 'components/App.scss';
@import 'components/common/Common.scss';
@import 'components/projectList/ProjectList.scss';

$color: grey;

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: white;
}
