@import 'components/App.scss';
@import 'components/common/Common.scss';
@import 'components/input/Input.scss';
@import 'components/project/Project.scss';
@import 'components/projectList/ProjectList.scss';
@import 'components/form/Form.scss';
@import 'components/summary/Summary.scss';

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ebedf1;
}

#root {
  height: 100%;
}
