@import '../../../../components/common/colors.scss';

.role-highlight-picker {
  align-items: flex-start;
  border: 2px solid $light-gray3;
  justify-content: stretch;
  display: flex;
  padding: 16px 32px;
  margin-top: 32px;

  h3:first-child {
    margin-top: 4px;
  }

  .role-highlight-picker-right {
    flex-grow: 2;
  }

  .magnifier-icon {
    background: url('../../../../assets/icons/magnifier-icon.svg') no-repeat
      center;
    height: 24px;
    margin-right: 24px;
    width: 24px;
  }

  .role-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  .role-button {
    color: $color-primary;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;

    &.active {
      text-decoration: underline;
    }

  }
}
